[submodule "extern/nod"]
	path = extern/nod
	url = ../nod.git
	branch = master
[submodule "extern/amuse"]
	path = extern/amuse
	url = ../amuse.git
	branch = master
[submodule "extern/kabufuda"]
	path = extern/kabufuda
	url = ../kabufuda.git
	branch = master
[submodule "extern/jbus"]
	path = extern/jbus
	url = ../jbus.git
	branch = master
[submodule "extern/discord-rpc"]
	path = extern/discord-rpc
	url = https://github.com/discordapp/discord-rpc.git
	branch = master
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	branch = master
[submodule "extern/fixNES"]
	path = extern/fixNES
	url = https://github.com/FIX94/fixNES.git
	branch = master
[submodule "extern/athena"]
	path = extern/athena
	url = ../../libAthena/athena.git
	branch = master
[submodule "extern/boo"]
	path = extern/boo
	url = ../boo.git
	branch = master
[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = ../libjpeg-turbo.git
	branch = thp
[submodule "extern/zeus"]
	path = extern/zeus
	url = ../zeus.git
	branch = master
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/dawn"]
	path = extern/dawn
	url = https://github.com/encounter/dawn-cmake.git
[submodule "extern/nativefiledialog"]
	path = extern/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "extern/optick"]
	path = extern/optick
	url = https://github.com/AxioDL/optick.git
