[submodule "extern/libSquish"]
	path = extern/libSquish
	url = https://github.com/jackoalan/libSquish.git
[submodule "extern/athena"]
	path = extern/athena
	url = https://github.com/libAthena/athena.git
[submodule "extern/boo"]
	path = extern/boo
	url = ../boo.git
[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = https://github.com/jackoalan/libjpeg-turbo.git
	branch = thp
