name: Build

on:
  push:
    paths-ignore:
      - '*.md'
      - '*LICENSE'
  pull_request:

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  build-linux:
    name: Build Linux (${{matrix.name}} x86_64)
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: GCC
            preset: gcc
          - name: Clang
            preset: clang

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install ninja-build clang lld openssl libcurl4-openssl-dev \
            zlib1g-dev libglu1-mesa-dev libdbus-1-dev libvulkan-dev libxi-dev libxrandr-dev libasound2-dev \
            libpulse-dev libudev-dev libpng-dev libncurses5-dev libx11-xcb-dev libfreetype-dev \
            libxinerama-dev libxcursor-dev python3-markupsafe libgtk-3-dev libssl-dev \
            libxss-dev libfuse2

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Configure CMake
        run: cmake --preset x-linux-ci-${{matrix.preset}}

      - name: Build
        run: cmake --build --preset x-linux-ci-${{matrix.preset}}

      - name: Generate AppImage
        run: ci/build-appimage.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: metaforce-${{env.METAFORCE_VERSION}}-linux-${{matrix.preset}}-x86_64
          path: |
            build/install/Metaforce-*.AppImage
            build/install/debug.tar.*

  build-macos:
    name: Build macOS (AppleClang universal)
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Install dependencies
        run: |
          brew update
          brew upgrade --formula
          brew install cmake ninja graphicsmagick imagemagick
          pip3 install --break-system-packages markupsafe

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Configure CMake
        run: cmake --preset x-macos-ci

      - name: Build
        run: cmake --build --preset x-macos-ci
        
        #- name: Import signing certificate
        # if: 'false' # temporarily disabled
        #uses: devbotsxyz/xcode-import-certificate@master
        #with:
        #  certificate-data: ${{secrets.MACOS_CERTIFICATE_DATA}}
        #  certificate-passphrase: ${{secrets.MACOS_CERTIFICATE_PASSWORD}}
        #  keychain-password: ${{secrets.MACOS_KEYCHAIN_PASSWORD}}

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: metaforce-${{env.METAFORCE_VERSION}}-macos-appleclang-universal
          path: |
            build/install/Metaforce.app
            build/install/debug.tar.*

  build-ios:
    name: Build iOS (AppleClang arm64)
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Install dependencies
        run: |
          brew update
          brew upgrade --formula
          brew install cmake ninja
          pip3 install --break-system-packages markupsafe
          rustup target add aarch64-apple-ios

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Configure CMake
        run: cmake --preset x-ios-ci

      - name: Build
        run: cmake --build --preset x-ios-ci --target install

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: metaforce-${{env.METAFORCE_VERSION}}-ios-appleclang-arm64
          path: |
            build/install/Metaforce.app
            build/install/debug.tar.*

  build-tvos:
    name: Build tvOS (AppleClang arm64)
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Install dependencies
        run: |
          brew update
          brew upgrade --formula
          brew install cmake ninja
          pip3 install --break-system-packages markupsafe
          rustup toolchain install nightly
          rustup target add --toolchain nightly aarch64-apple-tvos

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Configure CMake
        run: cmake --preset x-tvos-ci

      - name: Build
        run: cmake --build --preset x-tvos-ci --target install

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: metaforce-${{env.METAFORCE_VERSION}}-tvos-appleclang-arm64
          path: |
            build/install/Metaforce.app
            build/install/debug.tar.*

  build-windows:
    name: Build Windows (${{matrix.name}} x86_64)
    runs-on: windows-latest

    env:
      BUILD_DIR: C:\build

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: MSVC
            preset: msvc
          - name: Clang
            preset: clang

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Enable Visual Studio environment
        uses: ilammy/msvc-dev-cmd@v1

      # msvc-dev-cmd sets VCPKG_ROOT, set it back
      - name: Override VCPKG_ROOT
        run: echo "VCPKG_ROOT=C:\vcpkg" >> $env:GITHUB_ENV

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install dependencies
        run: |
          choco install ninja
          vcpkg install zlib:x64-windows-static bzip2:x64-windows-static zstd:x64-windows-static `
            liblzma:x64-windows-static freetype:x64-windows-static

      - name: Configure CMake
        run: cmake --preset x-windows-ci-${{matrix.preset}}

      - name: Build
        run: cmake --build --preset x-windows-ci-${{matrix.preset}}

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: metaforce-${{env.METAFORCE_VERSION}}-win32-${{matrix.preset}}-x86_64
          path: |
            ${{env.BUILD_DIR}}/install/*.exe
            ${{env.BUILD_DIR}}/install/debug.7z
